<ul class="collapsible first-level" data-collapsible="accordion">
  <li>
    <div class="collapsible-header">Стетхем Дж.Ю.</div>
    <div class="collapsible-body">

      <crf-nav-patient></crf-nav-patient>

    </div>
  </li>
  <li>
    <div class="collapsible-header">Стетхем Дж.Ю.</div>
    <div class="collapsible-body">

      <crf-nav-patient></crf-nav-patient>

    </div>
  </li>
  <li>
    <div class="collapsible-header">Стетхем Дж.Ю.</div>
    <div class="collapsible-body">

      <crf-nav-patient></crf-nav-patient>

    </div>
  </li>
</ul>
