<header class="z-depth-1">

  <div class="header">
    <div class="user">
      <i class="user-icon material-icons medium">assignment_ind</i>
      <div class="user-credentials">
        <span class="user-name"></span>
        <span class="user-code">987 6743 237 3421</span>
      </div>
    </div>

    <button class="btn-exit waves-effect waves-light btn btn-large red lighten-4">Выйти</button>
  </div>
  <div class="select-block row">
    <!--<div class="input-field col m3 l3">-->
      <!--<select-->
        <!--custom-select="research"-->
        <!--ng-model="vm.rid"-->
        <!--ng-change="vm.clinicsList(vm.rid)"-->
        <!--ng-options="research._id as research.name for research in vm.researches">-->
        <!--<option value="" disabled selected>Выбор исследования</option>-->
      <!--</select>-->
    <!--</div>-->
    <!--<div class="input-field col m3 l3">-->
      <!--<select-->
        <!--custom-select="clinic"-->
        <!--ng-model="vm.cid"-->
        <!--ng-change="angular.noop()"-->
        <!--ng-options="clinic._id as clinic.name for clinic in vm.clinics">-->
        <!--<option value="" disabled selected>Выбор клиники</option>-->
      <!--</select>-->
    <!--</div>-->
  </div>

</header>
