html, body, .global-wrapper { height: 100%; }

body {
  background-color: $bg-main;
}

.wrapper {
  display: flex;
  flex-flow: row nowrap;
}

.main-block {
  flex: 1;
}

.main-container {
  width: auto;
  margin: 0 20px;
}

